body {
    font-family: Helvetica, Arial;
    color: #525252;
    margin: 0px;
    padding: 0px;
    position: absolute;
    }
header {
    float: left;
    background-color: #79BD9A;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header p {
    float: right;
}
h2 {
    margin: 10px 0px;
    text-align: center;
}
a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #CFF09E;
    background: #0B486B;
    padding: 20px 5px;
}
#logo {
    float: left;
    display: block;
    width: 30%;
    height: 100%;
}
nav {
    float: right;
    padding: 20px;
}
#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/menu-icon.png) center;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    /*float: left; essa linha não funciona com a linha acima*/
    padding: 10px;
}
footer {
    background-color: #3B8686;
    color: white;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    height: 110px;
    width: 100%;
}

/* MEDIA QUERY * iphone 5*/
@media only screen and (max-width: 480px){
    #menu-icon{
        display: inline-block;
    }

    nav ul {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 20px;
        background: #fff;
        width: 20%;
    }

    nav li{
        text-align: left;
        width: 100%;
        padding: 10px 0px;
        margin: 0;
    }

    nav:hover ul {
        display: block;
    }

    nav li a {
        color: #3B8686;
    }

    p {
        text-align: justify;
        margin: 10px 0px 20px 0px;
        padding: 10px;
    }
    section {
        margin: 15px;
    }
    .depoimentos {
        box-shadow: 10px 10px 5px #888888;
        border-radius: 5px;
        width: 99%;
        background: #e3e3e3;
    }
    nav#nav-footer {
        display: none;
        
    }
    #copyright h2 {
        text-align: center;
        margin: 0px ;
        position: relative;
    }
    #copyright p {
        font-size: 12px;
        text-align: center;
        margin: 0px;
        padding-top: 10px;
        position: relative;
    }
    #slogan {
        margin-right: 10px;
        font-weight: bold;
        letter-spacing: 4px;
    }
    footer {
        background-color: #3B8686;
        color: white;
        text-align: center;
        margin: 5px 0px 0px 0px;
        padding: 5px 0px 0px 0px;
        height: 110px;
        width: 100%;
    }
    
}
/* MEDIA QUERY * ipad*/
@media only screen and (min-width: 481px){
    #menu-icon {
        display: none;
    }
    body {
        width: 100%;
        margin: 0 auto;
    }
    header {
        height: 200px;
        
    }
    section {
        height: 250px;
        margin: 0px;
        padding: 0px;
        clear: both;
        text-align: justify;
    
    }
    #prom1, #prom2 {
        width: 48%;
        float: left;
        margin-left: 10px;
        border: 1px solid #CCC;
    }
    #gerais1, #gerais2, #gerais3 {
        float: left;
        width: 30%;
        padding: 0px;
        margin: 0px 0 10px 10px;
        border: 1px solid #CCC;
    }
    #gerais2 img {
        display: block;
        margin: auto;
        

    }
    .depoimentos {
        box-shadow: 10px 10px 5px #888888;
        border-radius: 5px;
        width: 47%;
        float: left;
        margin: 0px 0 15px 15px;
        background: #e3e3e3;
    }
    .depoimentos p {
        margin: 10px;
    }
    footer {
        float: left;
        height: 110px;
        margin: 10px 0px 0px 0px;
        padding: 0px;
        clear: both;
    }

    #copyright {
        position: absolute;
        float: left;
        margin: 0px;
        padding: 0px;
        margin-left: 20px;
        height: 0;
        clear: both;
    }
            
    #copyright h2 {
        text-align: center;
        margin: 20px 0px 0px 0px ;
        position: relative;
    }

    #copyright p {
        font-size: 12px;
        text-align: center;
        margin: 0px;
        padding-top: 10px;
        position: relative;
    }
  
    #slogan {
        margin-right: 10px;
        font-weight: bold;
        letter-spacing: 7px;
    }


}
@media only screen and (min-width: 960px){
    body {
        width: 960px;
    }

}