body {
    font-family: Helvetica, Arial;
    color: #525252;
    margin: 0px;
    padding: 0px;
    position: absolute;
    }
header {
    float: left;
    background-color: #79BD9A;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header p {
    float: right;
}
h2 {
    margin: 10px 0px;
}
a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #CFF09E;
    background: #0B486B;
    padding: 20px 5px;
}
#logo {
    float: left;
    width: 40%;
    height: 40%;
    display: block;
}
nav {
    float: right;
    padding: 20px;
}
#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../img/menu-icon.png) center;
}
ul {
    list-style: none;
}
li {
    display: block;
    /*float: left; essa linha não funciona com a linha acima*/
    padding: 10px;
}
footer {
    background-color: #3B8686;
    color: white;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    height: 110px;
    width: 100%;
    position: absolute;
}
/* MEDIA QUERY * iphone 5*/
@media only screen and (max-width: 640px){
    #menu-icon{
        display: inline-block;
    }
    nav ul {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 20px;
        background: #fff;
        width: 20%;
    }
    nav li{
        text-align: left;
        width: 100%;
        padding: 10px 0px;
        margin: 0;
    }
    nav li a {
        color: #3B8686;
    }
    nav:hover ul {
        display: block;
    }
    p {
        text-align: justify;
        margin: 0;
        padding: 10px;
    }
    section {
        margin: 15px;
    }
    .depoimentos {
        box-shadow: 10px 10px 5px #888888;
        border-radius: 5px;
        width: 99%;
        background: #e3e3e3;
    }
    nav#nav-footer {
        display: none;
        
    }
    #copyright h2 {
        text-align: center;
        margin: 0px ;
        position: relative;
    }
    #copyright p {
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
        position: relative;
    }
}